<!DOCTYPE html>
<html>
  <head>
    <title><%= @title or "default" %> | Center for Human-engaged Computing</title>
    <%= csrf_meta_tags %>
    <%= yield :stylesheet %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield :base %>
    <%= yield :script %> 
  </body>
</html>
