  <% content_for :stylesheet do %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", crossorigin: "anonymous", integrity: "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" %>
      <% end %>
        <% content_for :base do %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-3 main-menu-container">
                <%= render partial: "shared/menu" %>
              </div>
              <div class="col-xl-9">
                  <%= yield :main %>
              </div>
            </div>
          </div>
          <% end %>
            <% content_for :script do %>
              <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.slim.min.js",  crossorigin: "anonymous", integrity: "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" %>
                <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js",  crossorigin: "anonymous", integrity: "sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" %>
                  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js",  crossorigin: "anonymous", integrity: "sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" %>
                    <% end %>
                    <%= render template: "layouts/application" %>